/* main */

main {
    display: flex;
    gap: 3.625rem;
    margin-top: 2.4375rem;
}

/* resumeHeader */

.financialResume {
    width: 33.125rem;
    margin-top: 2.4375rem;
}

.resumeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.75rem;
}

.resumeHeader h3 {
    font-size: var(--headline);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height);
    color: var(--gray-4);
}

.resumeHeaderButtons {
    display: flex;
    gap: 1rem;
}

@media (max-width: 72.49rem) {
    main {
        flex-direction: column;
    }
    .resumeHeader {
        flex-direction: column;
    }
    .financialResume {
        align-self: center;
        max-width: 100%;
    }
}
