form {
    display: flex;
    flex-direction: column;
    width: 22.6875rem;
    border: 0.0625rem solid var(--gray-2);
    border-radius: var(--radius);
    padding: 2.375rem 1.5rem;
    margin-top: 2.4375rem;
    margin-bottom: 1rem;
}

form label {
    font-size: var(--title-4);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height);
    color: var(--gray-4);
    margin-bottom: 0.75rem;
}

.inputDescription {
    height: var(--input-select-height-1);
    font-size: var(--headline);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height);
    color: var(--gray-3);
    padding: 0 1rem;
    margin-bottom: 0.25rem;
    background-color: var(--gray-1);
    border: 0.125rem solid var(--gray-1);
    border-radius: var(--radius);
}

.exemple {
    font-size: var(--body);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height);
    color: var(--gray-3);
    margin-bottom: 1rem;
}

.valueTypeOfValue {
    display: flex;
    gap: 2.25rem;
    margin-bottom: 1.25rem;
}

.valueLabelInput {
    width: 8rem;
    height: 4.9375rem;
    display: flex;
    flex-direction: column;
}

.valueLabelInput input {
    height: var(--input-select-height-2);
    padding-left: 1rem;
    background-color: var(--gray-1);
    border: 0.125rem solid var(--gray-1);
    border-radius: var(--radius);
    font-size: var(--headline);
    font-weight: var(--font-weight-4);
    color: var(--gray-3);
}

.typeOfValue {
    width: 8rem;
    height: 4.9375rem;
    display: flex;
    flex-direction: column;
}

.typeOfValue select {
    height: var(--input-select-height-2);
    padding: 0 1rem;
    background-color: var(--gray-1);
    border: 0.125rem solid var(--gray-1);
    border-radius: var(--radius);
    font-size: var(--title-4);
    font-weight: var(--font-weight-4);
    color: var(--gray-4);
    cursor: pointer;
}
